<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h1>Create a new Post</h1>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username"/>
        <br><br/>
        <br><br/>
        
        <textarea placeholder="write your post here" name="content"></textarea>
        <br><br/>
        <br><br/>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>